<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Bookmark Guid</key>
	<string>ONEDARKPRO-2026-ASTIG-OPTM</string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>Name</key>
			<string>One Dark Pro - 散光优化</string>
			<key>Guid</key>
			<string>ONEDARKPRO-2026-ASTIG-OPTM</string>
			<key>Description</key>
			<string>One Dark Pro Astigmatism Optimized - JetBrains Mono 17pt</string>
			<key>Normal Font</key>
			<string>JetBrainsMonoNFM-Regular 17</string>
			<key>Non Ascii Font</key>
			<string>JetBrainsMonoNFM-Regular 17</string>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1.25</real>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Rows</key>
			<integer>35</integer>
			<key>Columns</key>
			<integer>120</integer>
			<key>Scrollback Lines</key>
			<integer>10000</integer>
			<key>Transparency</key>
			<real>0</real>
			<key>Blur</key>
			<false/>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Working Directory</key>
			<string></string>
			<key>Has Hotkey</key>
			<true/>
			<key>HotKey Key Code</key>
			<integer>49</integer>
			<key>HotKey Modifier Flags</key>
			<integer>262144</integer>
			<key>HotKey Window Floats</key>
			<true/>
			<key>HotKey Window AutoHides</key>
			<true/>
			<key>HotKey Window Animates</key>
			<true/>
			<key>Window Type</key>
			<integer>2</integer>
			<key>Background Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.15686274509803921</real>
				<key>Green Component</key>
				<real>0.17254901960784313</real>
				<key>Blue Component</key>
				<real>0.20392156862745098</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.6705882352941176</real>
				<key>Green Component</key>
				<real>0.6980392156862745</real>
				<key>Blue Component</key>
				<real>0.7490196078431373</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.3803921568627451</real>
				<key>Green Component</key>
				<real>0.6862745098039216</real>
				<key>Blue Component</key>
				<real>0.9372549019607843</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.15686274509803921</real>
				<key>Green Component</key>
				<real>0.17254901960784313</real>
				<key>Blue Component</key>
				<real>0.20392156862745098</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.24313725490196078</real>
				<key>Green Component</key>
				<real>0.26666666666666666</real>
				<key>Blue Component</key>
				<real>0.3176470588235294</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.8627450980392157</real>
				<key>Green Component</key>
				<real>0.8745098039215686</real>
				<key>Blue Component</key>
				<real>0.8941176470588236</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.8627450980392157</real>
				<key>Green Component</key>
				<real>0.8745098039215686</real>
				<key>Blue Component</key>
				<real>0.8941176470588236</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.24313725490196078</real>
				<key>Green Component</key>
				<real>0.26666666666666666</real>
				<key>Blue Component</key>
				<real>0.3176470588235294</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.8784313725490196</real>
				<key>Green Component</key>
				<real>0.4235294117647059</real>
				<key>Blue Component</key>
				<real>0.4588235294117647</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.596078431372549</real>
				<key>Green Component</key>
				<real>0.7647058823529411</real>
				<key>Blue Component</key>
				<real>0.4745098039215686</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.8980392156862745</real>
				<key>Green Component</key>
				<real>0.7529411764705882</real>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.3803921568627451</real>
				<key>Green Component</key>
				<real>0.6862745098039216</real>
				<key>Blue Component</key>
				<real>0.9372549019607843</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.7764705882352941</real>
				<key>Green Component</key>
				<real>0.47058823529411764</real>
				<key>Blue Component</key>
				<real>0.8666666666666667</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.33725490196078434</real>
				<key>Green Component</key>
				<real>0.7137254901960784</real>
				<key>Blue Component</key>
				<real>0.7607843137254902</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.6705882352941176</real>
				<key>Green Component</key>
				<real>0.6980392156862745</real>
				<key>Blue Component</key>
				<real>0.7490196078431373</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.32941176470588235</real>
				<key>Green Component</key>
				<real>0.3411764705882353</real>
				<key>Blue Component</key>
				<real>0.3843137254901961</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.8784313725490196</real>
				<key>Green Component</key>
				<real>0.4235294117647059</real>
				<key>Blue Component</key>
				<real>0.4588235294117647</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.596078431372549</real>
				<key>Green Component</key>
				<real>0.7647058823529411</real>
				<key>Blue Component</key>
				<real>0.4745098039215686</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.8980392156862745</real>
				<key>Green Component</key>
				<real>0.7529411764705882</real>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.3803921568627451</real>
				<key>Green Component</key>
				<real>0.6862745098039216</real>
				<key>Blue Component</key>
				<real>0.9372549019607843</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.7764705882352941</real>
				<key>Green Component</key>
				<real>0.47058823529411764</real>
				<key>Blue Component</key>
				<real>0.8666666666666667</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.33725490196078434</real>
				<key>Green Component</key>
				<real>0.7137254901960784</real>
				<key>Blue Component</key>
				<real>0.7607843137254902</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Red Component</key>
				<real>0.8627450980392157</real>
				<key>Green Component</key>
				<real>0.8745098039215686</real>
				<key>Blue Component</key>
				<real>0.8941176470588236</real>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
			</dict>
		</dict>
	</array>
	<key>OpenNoWindowsAtStartup</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
</dict>
</plist>
